@import '../../scss/variables';
@import '../../scss/mixins';

.countries-table {
    display: block;
    position: relative;
    width: 100%;
    background: $white;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    border-collapse: collapse;
    overflow: hidden;
    padding: .5rem;
    
    &__thead {
        display: block;
        position: absolute;
    }

    &__th {
        font-size: 1.25rem;
        padding: .5rem;
        text-align: left;
        display: block;
        text-transform: capitalize;
    }

    &__tbody {
        margin-top: 3.5rem;
        display: block;
        overflow: auto;
        width: 100%;
        height: 300px;
        
        @include scrollbar;
    }
}

// @media screen and (min-width: $breakpoint-mobile) {

// }

@media screen and (min-width: $breakpoint-desktop) {
    .countries-table {
        grid-column: 1 / 2;
    }   
}
