@import '../../scss/variables';
@import '../../scss/mixins';

.countries-table {
    max-width: 100%;
    width: fit-content;
    margin-top: 1rem;
    background: $white;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    border-collapse: collapse;
    display: block;
    height: 400px;
    overflow: auto;

    @include scrollbar;

    &__th {
        font-size: 1.25rem;
        padding: 1rem;
        text-align: left;
        display: table-cell;
        text-transform: capitalize;
    }
}
