@import '../../scss/variables';
@import '../../scss/mixins';

.sort-by {
    font-weight: 400;

    &__list {
        display: flex;
        align-items: center;
        white-space: nowrap;
        gap: .5rem;
        padding: .5rem 0 1rem 0;
        list-style-type: none;
        overflow: auto;
    }

    &__text {
        font-weight: 700;
    }
}

@media screen and (min-width: $breakpoint-tablet) {
    .sort-by {
        @include scrollbar;
    }
}

