@import '../../scss/variables';

.table-tr {
    // border-bottom: 1px solid $gray-light;

    &:nth-child(even) {
        background: $gray-light;
    }

    &__td-wrapper {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        padding: 1rem;
        text-align: center;

        &--first {
            display: flex;
            flex-direction: column;
            gap: .25rem;
            padding: 1rem;
            max-width: 150px;
        }
    }

    &__td-name {
        font-size: .9rem;
        white-space: nowrap;
    }

    &__td-value {
        font-weight: 700;
        white-space: nowrap;
    }

    &__td-name--first {
        font-size: .9rem;
        // white-space: nowrap;
    }

    &__td-value--first {
        font-weight: 700;
        // white-space: nowrap;
    }
}
