@import '../../scss/variables';

.progress {
    padding: 2rem 0;

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &__info-list {
        margin-top: 1rem;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        // justify-content: space-between;
        gap: 1rem;
        width: 100%;
    }
}
