@import '../../scss/variables';

.vaccination {
    background: $white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 2rem 1rem;

    &__date {
        margin-top: .5rem;
        font-size: .95rem;
        // color: $gray;
    }
}