@import '../../scss/variables';
 
.chart {
    background: $white;
    padding: 2rem 1rem 1rem 1rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: auto;

    &__title {
        margin-bottom: 1rem;
    }

    &__body {
        height: 300px;
        min-width: 500px;
    }
}