@import '../../scss/variables';
 
.chart {
    background: $white;
    padding: 1rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: auto;

    &__title {
        padding: .5rem 0 0 0;
        margin-bottom: 1rem;
    }

    &__body {
        height: 300px;
    }
}

// @media screen and (min-width: $breakpoint-desktop) {
//     .chart {
//         grid-column: 7 / 13;
//     }
// }