@import '../../scss/variables';
 
.chart {
    background: $white;
    padding: 1rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    &__title {
        padding: .5rem 0 0 0;
        margin-bottom: 2rem;
    }
}