@import 'scss/variables';

.search-box {
    border: 1px solid $font-color-blue;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__input {
        border-radius: inherit;
        padding: .5rem;
        margin: 0 .5rem;
        font-size: 1rem;
        border: none;
        outline: none;
    }
    
    &__icon {
        margin-right: 1rem;
    }
}