@import '../../scss/variables';

.header-option {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $black-gradient;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    color: $white;
    padding: .75rem;
    font-size: 1rem;
    cursor: pointer;

    &__body {
        display: none;
    }
}

@media screen and (min-width: $breakpoint-mobile) {
    .header-option {
        gap: .5rem;

        &__body {
            display: block;
        }
    }
}