@import '../../scss/variables';

.header {
    padding: 1rem;
    margin: .25rem 0 0 0;
    background: $white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {
        font-size: 1.25rem;
    }

    &__options {
        display: flex;
        gap: .5rem;
    }
}

@media screen and (min-width: $breakpoint-mobile) {
    .header {
        &__text {
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    .header {
        grid-column: 1 / 13;
    }
}