@import '/src/scss/_variables.scss';
@import '/src/scss/_mixins.scss';

.header-option {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    background: $black-gradient;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    color: $white;
    padding: .75rem;
    font-size: .9rem;
    cursor: pointer;
}

@media screen and (min-width: $breakpoint-mobile) {
    .header-option {
        font-size: 1rem;
    }
}