@import '../scss/variables';

body {
    color: $font-color-blue;
}

.home {
    display: grid;
    gap: 2rem;
    background: $gray-light;
    min-height: 100vh;
    width: 100%;
    padding: .5rem;
}

@media screen and (min-width: $breakpoint-mobile) {
    .home {
        padding: 1rem;
    }
}

@media screen and (min-width: $breakpoint-tablet) {
    .home {
        padding: 2rem;
        grid-template-rows: auto auto auto auto 1fr;

    }
}

@media screen and (min-width: $breakpoint-desktop) {
    .home {
        grid-template-columns: repeat(12, 1fr);
        // grid-template-rows: auto auto auto auto auto;
    }
}