@import '/src/scss/_variables.scss';

@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }
    
    &::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background: $black-gradient;
        border: none;
        border-radius: $border-radius;
    }

    &::-webkit-scrollbar-track {
        border-radius: $border-radius;
        background: rgba($gray, .2);
    }
}

@mixin button-gray {
    background: rgba($gray, .1);
    border: 1px solid rgba($black, .1);
    border-radius: $border-radius;
    color: $black;
}