@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
    }
    &::-webkit-scrollbar-thumb {
    background: $black;
    border: none;
    border-radius: $border-radius;
    }

    &::-webkit-scrollbar-track {
        border-radius: $border-radius;
        background: rgba($gray, .2);
    }
}