// Colors
$blue-gradient: linear-gradient(90deg, rgba(33,212,253,1) 0%, rgba(33,82,255,1) 100%);
$blue-light: rgba(33,212,253,1);
$blue: rgba(33,82,255,1);
$white: hsl(0, 0%, 98%);
$gray-light: hsl(0, 0%, 94%);
$gray: hsl(0, 0%, 30%);
$black: hsl(0, 0%, 20%);
$green: hsl(86, 81%, 46%);
$red: rgb(234, 6, 6);

$font-color-blue: hsl(218, 33%, 30%);

// Other
$box-shadow: rgba(17, 12, 46, 0.05) 0px 48px 100px 0px;
$border-radius: 1rem;