$blue-gradient: linear-gradient(90deg, rgba(33,212,253,1) 0%, rgba(33,82,255,1) 100%);
$blue-light: rgba(33,212,253,1);
$blue: rgba(33,82,255,1);
$white: hsl(0, 0%, 98%);
$gray-light: hsl(0, 0%, 94%);
$black: hsl(0, 0%, 0%);

$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$border-radius: 1rem;