@import '../../scss/variables';
@import '../../scss/mixins';

.map {
    margin: 1rem 0;
    padding: 1rem;
    background: white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow-x: auto;

    @include scrollbar;

    &__geochart {
        width: 600px;
    }
}